
   <div class="profile-container" *ngIf="!loading && !error && user">
    <img
      [src]="user.profilePicUrl || 'https://csfprojectlx.sgp1.cdn.digitaloceanspaces.com/defaultavatar.jpg'"
      alt="Profile Picture"
      class="public-profile-pic"
    />
    <h2>{{ user.username }}</h2>
    <p>User ID: {{ user.userId }}</p>
    <div *ngIf="user.preferredMeetingLocation">
      <p>Location: {{ user.preferredMeetingLocation }}</p>
    </div>
    <div class="tag-list" *ngIf="user.tags?.length">
      <h4>Interests</h4>
      <div class="tag-item" *ngFor="let t of user.tags">{{ t }}</div>
    </div>
  </div>
  
  <div *ngIf="loading">Loading...</div>
  <div *ngIf="error" class="error-message">{{ error }}</div>
  
  <div *ngIf="!loading && !error">
    <h3>User Listings</h3>
    <div *ngIf="displayedListings.length === 0">No listings found</div>
    <div class="listings-grid">
      <div class="listing-card" *ngFor="let item of displayedListings">
        <img
          [src]="item.images?.[0] || 'placeholder.jpg'"
          alt="Product Image"
          class="listing-img"
          />
          <h4>{{ item.productName }}</h4>
          <p>Condition: {{ item.condition }}</p>
          <p>Price: {{ item.price }}</p>
          <p>{{ item.productDetails }}</p>
          <button mat-stroked-button color="primary" (click)="onBarter(item.productId)" *ngIf="item.userId !== currentUserId"
          >
            Barter
          </button>
        </div>
      </div>
    <mat-paginator
      [length]="userListings.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPaginateChange($event)"
    ></mat-paginator>
  </div>
  